<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cloud.user.api.mapper.AdminUserMapper">

    <select id="getUserByPhone" resultType="io.cloud.user.common.vo.app.AdminUserVo">
        select
            A.id, A.mobile, A.credential, A.salt, A.activate,
            B.org_id, B.dep_id, B.job_id, B.user_name
        from c_admin_user A
        left join c_admin_staff B on A.id = B.user_id
        where A.mobile = #{phone,jdbcType=VARCHAR}
        and A.is_valid = 1 and B.is_valid = 1
    </select>

</mapper>
