<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cloud.user.api.mapper.ApiMessageCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.cloud.user.common.entity.ApiMessageCode">
        <id column="id" property="id" />
    <result column="create_time" property="createTime" />
        <result column="mobile" property="mobile" />
        <result column="code" property="code" />
        <result column="send_type" property="sendType" />
        <result column="is_valid" property="isValid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        id, mobile, code, send_type, is_valid
    </sql>

</mapper>
