<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cloud.user.api.mapper.ApiUserMapper">

    <select id="getUserByUserName" resultType="io.cloud.user.common.vo.app.ApiUserVo">
        select
        A.id,A.user_name,A.mobile,A.email, A.avatar,
        A.nickname, B.credential, A.salt, A.is_valid
        from c_api_user A
        left join c_api_user_auth B on A.id = B.user_id
        where B.identity_type between 1 and 3 and B.verified = 1 and B.is_binding = 1
        and B.identifier = #{userName,jdbcType=VARCHAR}
    </select>

    <select id="getUserByPhone" resultType="io.cloud.user.common.vo.app.ApiUserVo">
        select
        A.id,A.user_name,A.mobile,A.email, A.avatar,
        A.nickname, B.credential, A.salt, A.is_valid
        from c_api_user A
        left join c_api_user_auth B on A.id = B.user_id
        where B.identity_type between 1 and 2 and B.verified = 1 and B.is_binding = 1
        and ( B.identifier = #{phone,jdbcType=VARCHAR} )
    </select>

</mapper>
