<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.cloud.user.api.mapper.RoleMapper">

    <select id="findListByUserId" resultType="io.cloud.user.common.vo.app.RoleListVo">
        select
            A.id, A.role_name, A.role_code
        from c_role A
        left join c_user_role B on A.id = B.role_id
        where A.is_valid = 1 and B.user_id = #{userId,jdbcType=BIGINT}
    </select>

</mapper>
